$text-color-white: white;
$text-color-black: black;
$text-color-white-half-transparent: rgba(255, 255, 255, 0.5);

$line-graph-subtitle: rgba(184, 192, 204, 1);

$background-color-white: white;
$background-color-blue: rgba(18, 17, 57, 1);

$gradient-purple: rgba(129, 45, 226, 1);
$gradient-blue: rgba(66, 62, 224, 1);

$accent-block-dark-blue: rgba(28, 26, 80, 1);

$footer-text-gray: rgba(146, 152, 159, 1);
$footer-logo-blue: rgba(58, 73, 249, 1);
